{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />

        <script src="https://cdn.tailwindcss.com"></script>
    
        <!-- font download -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
        
        {% block meta %}
        {% endblock meta %}
        
    </head>

    <body>
        <header class="flex flex-col justify-center px-5 py-[100px] bg-gradient-to-r from-[#010413] to-[#0a1f2b] text-center align-center text-[#f5f5f5] gap-2" style="font-family: Lora, serif">
            <h1 class="text-4xl font-semibold" >{{nama_aplikasi}}</h1>
            <h1 class="text-[18px] text-gray-300 font-normal">Only serves authentic french cousine</h1>
        </header>
        
        {% block content %}
        {% endblock content %}

        <footer class="flex flex-col px-[80px] font-semibold">
            <p>Nama: {{nama_mahasiswa}}</p>
            <p>Kelas: {{kelas_mahasiswa}}</p>
        </footer>
    </body>
</html>