{% extends 'base.html' %}

{% block content %}

<main class="flex flex-col px-[80px] py-[50px] gap-[30px]">
    <section class="flex text-[14px] justify-center">

        <a href="{% url 'main:add_item' %}">
            <button class="bg-[#0a1f2b] text-[#f5f5f5] px-[24px] py-[12px] rounded-[6px] text-[16px]">
                Add Menu
            </button>
        </a>
    </section>

    <!-- reference: https://fedingo.com/how-to-get-length-of-list-in-django-template/ -->
    <h1 class="flex justify-center text-[20px] font-medium">We have {{menus|length}} unique menu(s) here</h1>

    <table class="flex flex-col w-full border-gray-300 border-[1px] rounded-[12px] px-[25px] py-[20px]">
        <thead class="flex flex-col w-full border-b-gray-300 border-b-[1px] pb-[20px] px-[12px]">
            <tr class="flex  text-center justify-center items-center">
                <th class="flex w-full justify-center">Name</th>
                <th class="flex w-full justify-center">Amount</th>
                <th class="flex w-full justify-center">Description</th>
                <th class="flex w-full justify-center">Price</th>
            </tr>
        </thead>

        <tbody class="flex flex-col w-full gap-[14px] pt-[20px] px-[12px]">
            {% for menu in menus %}
            <tr class="flex text-center justify-center items-center">
                <td class="flex w-full justify-center">{{menu.name}}</td>
                <td class="flex w-full justify-center">{{menu.amount}}</td>
                <td class="flex w-full justify-center">{{menu.description}}</td>
                <td class="flex w-full justify-center">${{menu.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}








